.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
logs/
.DS_store
beyond-deep-learning.log
stderr.txt
stdout.txt
ascii/
mds/
.httr-oauth
cars.csv
cloudml.json
beyond-deep-learning.Rmd
tfrecord
data/profiles.csv
beyond-deep-learning_files
libs/
contributing_files/
